<div id="education">
    <div class="project-name" id="nameOfDeegree"></div>
    <div class="organization-name" id="nameOfOrganization"></div>
    <div>
        <table class="table-2 calendar">
            <col width="150"></col>
            <col width="80"></col>
            <tr>
                <td rowspan="2">
                    <table>
                        <td id="durationOfDeegree"></td>
                    </table>

                </td>
            </tr>
            <tr>
                <td id="city"></td>
            </tr>
        </table>
    </div>
    <div class="description" id="score">
    </div>
    <hr class="dashed-line"></hr>
</div>